{% extends 'base.html' %}

{% block content %}
<h1>Footballr</h1>
<hr />
<h5>Are you a fantasy football fanatic?</h5>
<ul>
    <li> With Footballr, have all of your team information in one place! Whether you are in a single league with some friends or are involved across many leagues, Footballr will work for you.</li>
    <li> Add your teams and track them across any league you desire. You can even keep track of your teams' records! </li>
    <li> Add players to your teams to keep track of your team's roster as well! Footballr is a single stop for all your fantasy needs.</li>
</ul>
{% endblock %}