{% extends 'base.html' %}

{% block content %}

<h1>Player</h1>


<div class="card">
        <div class="card-content">
            <span class="card-title">
            <!-- Prints name, position and associated team for each player -->
            <p class="deep-orange-text text-accent-4">Player: {{ player.name }}</p>
            <p class="deep-orange-text text-accent-4">Position: {{ player.position }}</p>
            <p class="deep-orange-text text-accent-4">NFL Team: {{ player.nfl_team}}</p>
            </span>
        </div>
    <div class="card-action">
        <!-- Allows user to update and delete player -->
        <a href="{% url 'players_update' player.id %}" class="navy">Edit</a>
        <a href="{% url 'players_delete' player.id %}" class="navy">Delete</a>
    </div>
</div>

{% endblock %}